// $primary-color: #e76f51 !default;
// $accent-color: #F4A261 !default;
// $secondar-color: #E9C46A;
// $card: #2A9D8F;
// $card-second: #264653;
$primary-color: #e6e2d8 !default;
$accent-color: #e6e2d8 !default;
$secondar-color: #68190b;
$card: #4f5e93;
$card-second: #264653;
* {
    box-sizing: border-box;
    font-family: irankharazmi;
}

@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
}

@font-face {
    font-family: irankharazmi;
    src: url("../fonts/fonts/IRAN_Kharazmi/IRAN\ Kharazmi.ttf");
}

@mixin fc-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fsV-display {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin centerPos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 3.5rem !important;
    }
    h2 {
        font-size: 2.5rem !important;
    }
    div.container {
        max-width: 95% !important;
    }
    div.gridItems {
        div.columns {
            display: grid;
            grid-template-columns: 1fr !important;
        }
    }
    .coll {
        margin: .2rem !important;
        .card {
            h4 {
                font-size: 1.4rem !important;
            }
            i {
                font-size: 2rem !important;
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    div.container {
        padding: 0;
    }
    span.callNow {
        a {
            color: $accent-color !important;
        }
        i {
            font-size: 3rem !important;
        }
    }
    nav {
        a.navItem {
            margin: 1rem !important;
        }
    }
    section.homePage {
        height: fit-content !important;
        div.backGround {
            flex-direction: column !important;
            div.placeHolder {
                display: none;
            }
            div.roadCard {
                width: 100% !important;
                height: 600px !important;
            }
        }
    }
    div.cover {
        width: 100% !important;
        position: relative !important;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 630px) {
    nav>div.mobile_nav {
        @include fsV-display();
        position: absolute;
        width: fit-content !important;
        height: fit-content !important;
        top: 24px;
        left: 0;
        z-index: 4;
        div.drawer_nav {
            @include fsV-display();
            background-color: $card-second;
            padding: 1rem;
            transition: .5s;
            max-height: 0;
            overflow: hidden;
        }
        .drawDown {
            max-height: 1000px !important;
        }
        .overflow {
            padding: 0% !important;
        }
        i#burgerBtn {
            cursor: pointer;
            color: white;
            font-size: 2rem
        }
    }
    div.desktop_nav {
        display: none !important;
    }
}

@media only screen and (max-width: 495px) {
    header {
        height: 60px !important;
    }
    span.callNow {
        display: none !important;
    }
    i#burgerBtn {
        font-size: 1.4rem !important;
    }
    h1 {
        font-size: 2.3rem !important;
    }
    h2 {
        font-size: 1.6rem !important;
    }
    section.homePage {
        div.backGround {
            div.roadCard {
                height: 400px !important;
            }
        }
    }
    div.cover {
        background-color: $accent-color;
        div.gridItems {
            margin: 0 !important;
        }
        .coll {
            .card {
                .card-body {
                    padding: 8px;
                    .i {
                        font-size: 3rem;
                    }
                    h4 {
                        font-size: 1.3rem !important;
                    }
                    h6 {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 338px) {
    h1 {
        font-size: 1.8rem !important;
    }
    h2 {
        font-size: 1.6rem !important;
    }
}

body {
    width: 100%;
}

header {
    background-color: $secondar-color;
    height: 80px;
    .container {
        height: 100%;
    }
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        @include fsV-display();
        height: 100%;
        flex-direction: row;
    }
    div.mobile_nav {
        overflow: hidden !important;
        height: 0;
        width: 0;
    }
    img {
        display: inline-block;
        height: 100%;
    }
    a.navItem {
        margin: 2rem;
        color: white;
        text-decoration: none;
        display: flex;
    }
}

section.homePage {
    width: 100%;
    height: 790px;
    div.backGround {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        div.roadCard {
            width: 80%;
            height: 100%;
            position: relative;
            overflow: hidden;
            .roadCard-title,
            .roadCard-text {
                position: absolute;
                z-index: 3 !important;
                right: 10%;
            }
            .roadCard-title {
                h2 {
                    font-size: 3.5rem;
                    color: white;
                    position: relative;
                    // @include centerPos();
                    width: max-content;
                    z-index: 3;
                }
            }
            .roadCard-text {
                width: auto;
                height: fit-content;
                padding: 1rem;
                color: white;
                z-index: 3;
                h1 {
                    display: inline-block;
                    width: fit-content;
                    text-shadow: 8px 0 0.5rem $secondar-color;
                    font-size: 4.3rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
            .rtruck {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: auto;
                height: 100% !important;
                opacity: 0;
            }
            .opcHide {
                transition: 0.5s;
                transition-timing-function: linear;
                opacity: 1;
            }
            // background-image     : url(../pic/road3.jpg);
            // background-size      : cover;
            // background-repeat    : no-repeat;
            // background-position-x: right;
            // background-position-y: bottom;
        }
        div.placeHolder {
            width: 40%;
            height: 100%;
            // background-color: yellow;
        }
        div.cover {
            position: absolute;
            left: 0 !important;
            top: 0;
            height: 100%;
            width: 65%;
            background-image: linear-gradient(90deg, $accent-color 60%, transparent);
            @include fc-display();
            justify-content: left;
            div.gridItems {
                border-radius: 10px;
                // width: 50% !important;
                @include fc-display();
                .columns {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .coll {
                margin: .5rem;
                width: fit-content;
                padding: 0;
                @include fc-display();
                .card {
                    color: $secondar-color;
                    background-color: transparent;
                    border-color: transparent;
                    h4,
                    h6 {
                        text-align: center;
                    }
                    .card-text {
                        display: none;
                    }
                    i {
                        font-size: 4rem;
                        margin: 10px;
                    }
                     :hover {
                        cursor: pointer;
                        background-color: $card;
                        background-color: #2646531c;
                    }
                }
                .card-body {
                    @include fsV-display();
                }
            }
        }
    }
}

.activeCard {
    border: 1px ridge $card !important;
}

.backcolor {
    @include centerPos();
    text-align: center;
    width: calc(100% + 50px);
    height: 100%;
    background-image: linear-gradient(90deg, transparent, $secondar-color 80%, transparent);
    z-index: 2;
}

span.callNow {
    position: fixed;
    display: inline-block;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    a {
        text-decoration: none;
    }
    i {
        color: tint-color($secondar-color, 10%);
        font-size: 5rem;
        p {
            background-color: white;
            border-radius: 1rem;
            font-size: 0rem;
            transition: .5s;
            color: $card;
            strong {
                font-size: inherit;
                text-decoration: none;
                color: $secondar-color;
            }
        }
    }
}

@keyframes sideMove {
    from {
        transform: translateX(2rem);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}